@media (max-width:992px) {
	.container {

	}
	.header {
		padding: 30px 39px;
	}
	.nav-item {
		padding-left: 40px;
		
	}
	.banner {
		height: 840px;
		align-items: flex-end;
		padding-right: 39px;
		background: url(img/banner-sm.png) center center no-repeat;
		background-size: cover;
	}
	.banner-content {
		font-size: 20px;
		line-height: 28px;
	}
	.banner-title{
		font-size: 48px;
		line-height: 67px;
	}
	.service, .classic, .contact {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.service {
		padding-right: 85px;
		padding-left: 85px;
	}
	.service-title, .classic-title, .design-title, .comment-title, .contact-title  {
		font-size: 32px;
		line-height: 45px;
		margin-bottom: 32px;
	}
	.contact .contact-title {
		margin-bottom: 16px;
	}
	.service img {
		width: 80px;
		height: 80px;
		margin-bottom: 16px;
	}
	.service-list {
		flex-wrap: wrap;		
		/* align-content: flex-start; */
	}
	.service-item {
		width: 50%;
		margin: 0;
		padding-bottom: 40px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.service-h4 {
		width: 237px;
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 8px;
	}
	.service-content {
		width: 237px;
		text-align: left;
	}
	.classic {
		padding-left: 39px;
		padding-right: 39px;
	}
	.classic-item {
		justify-content: center;
		padding-bottom: 8px;
	}
	.classic-item:nth-child(2){
		flex-direction: row;
	}
	.classic-brand {
		width: 50%;
	}
	.classic-brand:nth-child(2){
		padding-right: 0px;
	}
	.classic-img {
		width: 50%;
	}
	.classic-name {
		font-size: 28px;
		line-height: 37px;
		
	}
	.classic-icon {
		width: 32px;
	}
	.co-design {
		height: 437px;
		padding: 40px 0px 40px 0px;
	}
	.design-name {
		font-size: 32px;
		line-height: 43px;
	}
	.design-img1, .design-img2 {
		width: 330px;
		height: 280px;
	}
	.comment {
		padding-top: 40px;
		padding-bottom: 12px;
	}
	.comment-card {
		flex-wrap: wrap;
	}

	.comment-item {
		width: 330px;
		margin-bottom: 28px;
	}
	.comment-content {
		padding: 16px;
	}
	.contact-desc {
		font-size: 16px;
		line-height: 24px;
		width: 450px;
		margin-bottom: 12px;
	}
	.form-control {
		height: 36px;
	}
	.form-group {
		width: 450px;
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 8px;
	}
	::placeholder { /* CSS 3 標準 */
		font-size: 14px;
		padding-left: 12px;
	  }
	.form-control[type="textarea"] {
		height: 100px;  
	} 
	.form-check {
		align-items: start;
	}
	.form-check-input[type="checkbox"] {
		width: 17.63px;
		height: 17.63px;  
	}
	.form-btn {
		margin-top: 12px;
	}
	.btn {
		width: 210px;
		height: 36px;
		font-size: 14px;
	}
	.footer {
		padding: 40px 0;
	}
	.footer-info {
		max-width: 690px;
	}
	.footer-item {
		padding-right: 40px;
	}
	.navbar {
		padding-bottom: 24px;
	}
	.friendlink-link {
		padding-left: 24px;	
	}
	.friendlink-link img{
		width: 24px;
	}
	.connect-item p{
		padding-left: 12px;
		font-size: 20px;
		line-height: 26px;
	}
	.connect-item img{
		width: 32px;
	}
	.footer-connect {
		padding-bottom: 24px;
	}
	.footer-copyright img {
		display: none;
	}
	.footer-msg-link:nth-last-child(1){
		padding-left: 24px;	
	}


}