@media (max-width:767px) {
	.container {
		
	}
	.header {
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.logo {
		padding: 10px;
	}
	.nav {
		flex-wrap: wrap;
		width: 100%;
	}
	.nav-item {
		width: 50%;
		padding: 8px;
		text-align: center;
		border: 1px solid #FFFFFF;
	}
	.nav-link {
		width: 100%;
	}
	.banner {
		height: 394px;
		background-size: cover;
		padding-right: 15px;
		padding-left: 0;
	}
	.banner-content {
		font-size: 16px;
		line-height: 22px;
	}
	.banner-title, .design-name  {
		font-size: 32px;
		line-height: 45px;
	}
	.service {
		padding-top: 32px;
		padding-bottom: 12px;
	}
	.service-title {
		font-size: 24px;
		line-height: 33px;
		margin-bottom: 20px;
	}
	.service-list {
		padding-right: 69px;
		padding-left: 69px;
		/* align-content: flex-start; */
	}
	.service-item {
		width: 237px;
		padding-right: 69px;
		padding-left: 69px;

    }
    .icon-red {
        display: none;
    }
    .icon-white {
        display: block;
    }
    .classic {
        padding: 32px 15px;
    }
    .classic-img {
        width: 100%;
    }
    .classic-brand {
        width: 100%;
        padding: 0;
        position: absolute;
        justify-content: center;
        align-items: center;
    }
    .classic-name {
        color: #fff;
	}
	.co-design {
		height: 696px;
		padding-top: 32;
		padding-bottom: 32px;
	}
	.design-title, .comment-title, .contact-title {
		font-size: 20px;
		line-height: 28px;
	}
	.design-card {
		flex-direction: column;
		
	}

	.design-img1, .design-img2, .design-brand {
		width: 345px;
		height: 284px;
		margin: 0;
		
	}
	.design-item {	
		margin-bottom: 16px;
	}
	.comment {
		padding-top: 32px;
		padding-bottom: 16px;
	}
	.comment-card {
		flex-direction: column;	
		align-items: center;	
	}
	.comment-item {
		width: 345px;
		margin-bottom: 16px;
	}
	.comment-content {
		padding: 16px 16px 0px 16px;
	}
	.comment-content .comment-desc {
		padding-top: 0;
	    padding-bottom: 16px;
	}
	.contact {
		padding-top: 32;
		padding-bottom: 32px;
	}
	.contact-title {
		margin-bottom: 20px;
	}
	.contact-desc {
		font-size: 16px;
		line-height: 24px;
		width: 345px;
		margin-bottom: 8px;
	}
	.form-group {
		width: 345px;
	}
	.btn {
		width: 165px;
		font-size: 14px;
	}
	.footer {
		padding-top: 23px;
		padding-bottom: 21px;
	}
	.footer-info {
		max-width: 344.5px;
	}
	.connect-item p{
		padding-left: 5px;
		font-size: 16px;
		line-height: 21px;
	}
	.connect-item img{
		width: 20px;
	}
	.footer-nav:nth-child(1) {
		display: none;
	}
	.footer-nav:nth-child(2) {
		margin-left: 155px;
	}
	.navbar {
		position: absolute;
	}
	.footer-desc {
		padding-top: 18px;
	}
	.connect-item:nth-child(1){
		margin-bottom: 7px;
	}
	.footer-desc, .footer-msg-list {
		flex-direction: column;
		align-items: flex-start;
		justify-content: start;
	}
	.footer-msg-list:nth-child(1){
		padding-top: 7px;
		padding-bottom: 8px;
	}
	.footer-msg-list .footer-msg-link {
		padding-left: 0;
	}
	.footer-msg-item {		
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.footer-msg-item:nth-last-child(1){
		padding-left: 0;	
	}
	.footer-msg-item img {
		display: block;
		width: 46px;
		position: absolute;
		margin-left: 243px;
	}

}