/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -----reset css--------*/

.container {
	margin: 0 auto;
	/* width: 100%; */
	max-width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
*,*::before,*::after {
	box-sizing: border-box;
}


.header {
	padding: 30px 88px;
	background-color: #AA0601;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav {
	display: flex;
	fd-direction: row;

}
.nav-item {
	padding-left: 64px;
}
.nav-link {	
	font-size: 20px;
	text-decoration: none;
}
.banner {
	height: calc(100vh);
	padding-right: 20%;
	background: url(img/banner.png) center center no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}
.banner-content {
	font-weight: bold;
	font-size: 36px;
	line-height: 54px;
}
.banner-title {
	font-weight: bold;
	font-size: 64px;
	line-height: 96px;
}
.c-light {
	color: #fff;
}
.c-primary, .service-h4, .service-title, .classic-title, .comment-title {
	color: #650300;
}
.classic-brand, .design-name {
	color: #AA0601;
}
.service, .classic {
	padding-top: 64px;
	padding-bottom: 80px;
	text-align: center;	
}
.service {
	background: #AA06010D;
}
.service-title,.classic-title, .design-title, .comment-title {
	font-size: 48px;
	line-height: 67px;
	margin-bottom: 60px;
	font-weight: bold;
}
.service img {
	width: 100px;
	height: 100px;
	margin-bottom: 40px;
}
.service-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.service-item {
	width: 208px;
	margin-right: 77px;
}
.service-h4 {
	font-size: 24px;
	line-height: 33px;
	text-align: center;	
}
.service-content {
	font-size: 16px;
	line-height: 24px;
}
.classic-item {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-bottom: 32px;
}
.classic-item:nth-child(3){
	padding-bottom: 0;
}
.classic-item:nth-child(2){
	flex-direction: row-reverse;
}
.icon-white {
    display: none;
    }
.classic-name {
	padding-left: 8px;
	font-size: 48px;
	line-height: 63px;
	font-weight: bold;
}

.classic-brand {
	display: flex;
	flex-direction: row;
	padding-left: 30px;
}
.classic-brand:nth-child(2){
	padding-right: 30px;
	/* padding-left: 0; */
}
.co-design {
	/* height: calc(100vh); */
	height: 743px;
	background: url(img/bg.png) center center no-repeat;
	background-size: cover;
	text-align: center;
	padding: 64px 0px 80px 0px;
}
.design-content {
	/* display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center; */
}
.design-card {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	/* margin-bottom: 80px; */
}
.design-item {
	width: 540px;
	/* width: 540px; */
	height: 472px;
	margin-left: 15px;
	margin-right: 15px;
}
.design-img1 {
	width: 540px;
	height: 472px;
	background: url(img/product-8.png) center center no-repeat;
	background-size: cover;
}
.design-img2 {
	width: 540px;
	height: 472px;
	/* width: 100%;
	height: calc(100vh - 190px); */
	background: url(img/product-9.png);
	background-size: cover;
}

.design-brand {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* position: absolute; */
	background: #FFFFFF 0% 0% no-repeat padding-box;
	opacity: 0.5;
}
.design-name {
	font-size: 72px;
	line-height: 95px;
	font-weight: bolder;
}
.comment {
	text-align: center;
	padding: 64px 0px;
}
.comment-card {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.comment-item {
	width: 255px;
	margin: 0 15px;
	/* padding-bottom: 15px; */
	/* border: 1px solid #DEE2E6; */
}
.comment-img {
	display: block;
}
.comment-content {
	text-align: left;
	padding: 14px 16px 15px 16px;
	border: 1px solid #DEE2E6;
}
.comment-desc {
	color: #212529;
}
.comment-fs-p1 {
	font-size: 14px;
	line-height: 19px;
}
.comment-fs-p2 {
	font-size: 16px;
	line-height: 24px;
}
.comment-desc:nth-child(2) {
	padding-top: 7px;
	padding-bottom: 10px;
}
.comment-desc:nth-last-child(1){
	color: #707070;
}




