/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*:before,*:after {
	box-sizing: border-box;
}


.wrap {
	margin: 0 auto;
	width: 1024px;
	padding-left: 42px;
	padding-right: 42px;
	border: 1px rgb(187, 187, 166) solid;
}
.header {
	/* margin-left: 42px;
	margin-right: 42px; */
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header ul{
	display: flex;
}
.header li a {
	font-size: 16px;
	padding-left: 60px;
	color: #3F5D45;
	font-weight: bolder;
}
.header a {
	padding-left: 79px;
}
.banner {
	margin-bottom: 60px;
}
.content {
	display: flex;
}
.sideNav {
	width: 300px;
	margin-right: 20px;
	text-align: center;	
}
.sideNav h3,.sideNav li a,.card a {
	height: 65px;
	padding-top: 16px;
	font-size: 24px;

}
.sideNav h3 {
	margin: 0;
	color: #EAF0ED;	
	background: #3F5D45;
}
.sideNav li a, .card a {
	/* margin: 0; */
	display: block;
	border: 1px #EAF0ED solid;
	color: #3F5D45;
	font-weight: bolder;
	text-decoration: none;
}
.sideNav li a:hover {
	background: #EAF0ED;
}
.cardimg {
	width: 300px;
	height: 315px;
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
	background-image: url("/flex-week03/img/p-1.png");
	background-size:cover;
}
.cardimg p {
	padding: 10px;
	width: 36px;
	height: 107px;
	font-size: 16px;
	color: #EAF0ED;
	background: #3F5D45;
	line-height: 20px;
}
.cardimg a img{
	margin-top: 19px;
	width: 20px;
}
.cardimg img {
	/* width: 50px; */
}